name: Rust

on:
  push:
    branches: [ "test" ]

jobs:
  build-windows:
    name: Build on Windows
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Download and extract deps
        run: |
          curl -L -o deps.7z "https://github.com/Uranite/xav/releases/download/deps/deps.7z"
          7z x deps.7z

      - name: Install FFmpeg via vcpkg
        run: |
          vcpkg install ffmpeg[core,zlib,bzip2,dav1d,gpl,version3,lzma,openssl,xml2]:x64-windows-static
          vcpkg integrate install

      - name: Install HIP SDK
        shell: pwsh
        run: |
          curl.exe -L -o AMD-Software-PRO-Edition-25.Q3-Win10-Win11-For-HIP.exe "https://download.amd.com/developer/eula/rocm-hub/AMD-Software-PRO-Edition-25.Q3-Win10-Win11-For-HIP.exe"
          Start-Process -FilePath ".\AMD-Software-PRO-Edition-25.Q3-Win10-Win11-For-HIP.exe" -ArgumentList "-install" -Wait
          $HIP_PATH = "C:\Program Files\AMD\ROCm"
          echo "HIP_PATH=$HIP_PATH" >> $env:GITHUB_ENV
          echo "$HIP_PATH\bin" >> $env:GITHUB_PATH

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@nightly

      - name: Build
        run: cargo build --release --features static,vship,amd

      - name: Upload Executable
        uses: actions/upload-artifact@v5
        with:
          name: xav-windows
          path: target/release/xav.exe
